<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <!-- bootstrap js bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- fontawesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="stylesheets/project.css">
    </head>
    <body>

        <% let arr = [
                {title: 'Fardah Roshan Academy', projLink: 'https://fardah.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/fardahRoshanAcademy' , imgId: 'project-img-fardah' , description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia ad inventore voluptatibus enim illo pariatur voluptate cupiditate sunt ratione libero'},

                {title: 'yelpcamp', projLink: 'https://dry-depths-69632.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/yelpCamp' , imgId: 'project-img-yelp' , description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia ad inventore voluptatibus enim illo pariatur voluptate cupiditate sunt ratione libero'},

                {title: 'Weather App', projLink: 'https://weather.yachna.net/' , gitLink: 'https://github.com/yoyoyachu/weatherApplication' , imgId: 'project-img-weather' , description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia ad inventore voluptatibus enim illo pariatur voluptate cupiditate sunt ratione libero'},

                {title: 'Todo App', projLink: 'https://yachna-todo-app.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/todo-app' , imgId: 'project-img-todo' , description: 'Lorem ipsum dolor sit, amet consectetur'},

                {title: 'Lights Out Game', projLink: 'https://play-lights-out-game.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/lights-out-game' , imgId: 'project-img-lights' , description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia ad inventore voluptatibus enim illo pariatur voluptate cupiditate sunt ratione libero'},


                {title: 'Hangman Game', projLink: 'https://play-hangman-game.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/hangman-game' , imgId: 'project-img-hangman' , description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia ad inventore voluptatibus enim illo pariatur voluptate cupiditate sunt ratione libero'},


                {title: 'Coin Flipper Game', projLink: 'https://coin-flipper-game.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/coin-flipper' , imgId: 'project-img-coin' , description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia ad inventore voluptatibus enim illo pariatur voluptate cupiditate sunt ratione libero'},

                {title: 'Lottery Number Generator', projLink: 'https://simple-lottery-app.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/lottery-game' , imgId: 'project-img-lottery' , description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia ad inventore voluptatibus enim illo pariatur voluptate cupiditate sunt ratione libero'},
        ]%>




        <div class="container section-project">
            <h1 class="text-center m-5">PROJECTS</h1> 
            <% for(let i=0; i<arr.length; i++){%>
                <div class="row project-container">
                    <div class="col-md-5 project-description-container">
                        <div class="project-title"><%= arr[i].title%></div>
                        <div class="project-description"><%= arr[i].description%></div>
                        <div class="project-links">
                            <a class="project-site-link btn-program " target="_blank" href=<%= arr[i].projLink%> > <i class="fas fa-link"></i></a>
                            <a class="btn-program" target="_blank" href=<%= arr[i].gitLink%> > <i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="col-md-5 project-img-container"> 
                        <a href= <%= arr[i].projLink%> target="_blank" class="project-img" id=<%= arr[i].imgId%>></a>
                    </div>
                </div>
            <%}%>
        </div>

        

        <script src="" async defer></script>
    </body>
</html>