<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <!-- bootstrap js bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- fontawesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="stylesheets/project.css">
    </head>
    <body>

        <% let arr = [
                {title: 'Fardah Roshan Academy', projLink: 'https://fardah.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/fardahRoshanAcademy' , imgId: 'project-img-fardah' , description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia ad inventore voluptatibus enim illo pariatur voluptate cupiditate sunt ratione libero'},

                {title: 'Yelp Camp', projLink: 'https://dry-depths-69632.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/yelpCamp' , imgId: 'project-img-yelp' , description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia ad inventore voluptatibus enim illo pariatur voluptate cupiditate sunt ratione libero'},

                {title: 'Weather App', projLink: 'https://weather.yachna.net/' , gitLink: 'https://github.com/yoyoyachu/weatherApplication' , imgId: 'project-img-weather' , description: ''},

                {title: 'Todo App', projLink: 'https://yachna-todo-app.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/todo-app' , imgId: 'project-img-todo' , description: "A ToDo App built with React JS that allows users to add, update, remove todos along with 'Mark As Completed' feature when you click on any todo."},

                {title: 'Lights Out Game', projLink: 'https://play-lights-out-game.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/lights-out-game' , imgId: 'project-img-lights' , description: 'Lights Out is a puzzle game made with Ract JS, played on a gird of individual lights, which can either be lit or unlit. The puzzle is won when all of the lights are turned off. You can click on a cell to toggle that light. Each individual cell on board is a react component with onClick functionality.'},

                {title: 'Hangman Game', projLink: 'https://play-hangman-game.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/hangman-game' , imgId: 'project-img-hangman' , description: 'This react based game comes with 6 gallows images and therefore should only allow six wrong guesses for randomely chosen word from an array. There is a restart button to clear all the states of hangman component and play again'},


                {title: 'Coin Flipper Game', projLink: 'https://coin-flipper-game.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/coin-flipper' , imgId: 'project-img-coin' , description: 'This Game is build by using props, defaultProps, setting state, and simple click events in React. Pick any side of the coin and opposite side will be assigned to Computer player. Play Again button will restart the game by clearing all the data from state'},

                {title: 'Lottery Number Generator', projLink: 'https://simple-lottery-app.herokuapp.com/' , gitLink: 'https://github.com/yoyoyachu/reactBootcamp/tree/main/CRA/lottery-game' , imgId: 'project-img-lottery' , description: 'It's a simple game which generates full or mini lottery numbers randomly.It is build by using props, defaultProps and state in React.'},
        ]%>


        <div class="container section-project">
            <h1 class="text-center m-5">PROJECTS</h1> 
            <% for(let i=0; i<arr.length; i++){%>
                <div class="row project-container">
                    <div class="col-md-6 project-description-container">
                        <div class="project-title"><%= arr[i].title%></div>
                        <div class="project-description"><%= arr[i].description%></div>
                        <div class="project-links">
                            <a class="btn-program " target="_blank" href=<%= arr[i].projLink%> > <i class="fas fa-link"></i></a>
                            <a class="btn-program" target="_blank" href=<%= arr[i].gitLink%> > <i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 project-img-container"> 
                        <a href= <%= arr[i].projLink%> target="_blank" class="project-img" id=<%= arr[i].imgId%>></a>
                    </div>
                </div>
            <%}%>
        </div>
    </body>
</html>